In [242]:
import pandas as pd 
import datetime

In [243]:
x = datetime.datetime.now()

In [244]:
x

datetime.datetime(2020, 8, 15, 16, 5, 32, 478326)

In [245]:
x = pd.to_datetime(x)

### Create test csv

In [281]:
out_dict  = {'Start Date and Time': [i for i in range(30)],
             'End Date and Time':[i for i in range(30)],
             'Total Rack Count':[i for i in range(30)],
            'Total Palette Count':[i for i in range(30)]}

out_dict['Start Date and Time'].append(10)
out_dict['End Date and Time'].append(14)
out_dict['Total Rack Count'].append(18)
out_dict['Total Palette Count'].append(12)

In [282]:
out_dict

{'Start Date and Time': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29],
 'End Date and Time': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29],
 'Total Rack Count': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29],
 'Total Palette Count': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29]}

In [306]:
df = pd.DataFrame.from_dict(out_dict)

In [ ]:
import pandas as pd
import numpy as np
from matplotlib.figure import Figure
import time
from matplotlib.backends.backend_pdf import PdfPages
t = time.time()
#df = pd.DataFrame(np.random.random((10,3)), columns = ("col 1", "col 2", "col 3"))
from matplotlib.backends.backend_agg import FigureCanvasAgg as FigureCanvas
#https://stackoverflow.com/questions/32137396/how-do-i-plot-only-a-table-in-matplotlib
fig = Figure()
canvas = FigureCanvas(fig)
ax = fig.add_subplot()
ax.axis('tight')
ax.axis('off')
the_table = ax.table(cellText=df.values,colLabels=df.columns,loc='center')
pp = PdfPages("lpuHistory.pdf")
pp.savefig(fig, bbox_inches='tight', dpi = 5)
pp.close()
print(time.time()- t)

In [307]:
def produceDataPdf(df):
    fig = Figure()
    canvas = FigureCanvas(fig)
    ax = fig.add_subplot()
    ax.axis('tight')
    ax.axis('off')
    the_table = ax.table(cellText=df.values,colLabels=df.columns,loc='center')
    pp = PdfPages("lpuHistory.pdf")
    pp.savefig(fig, bbox_inches='tight', dpi = 5)
    pp.close()

In [308]:
produceDataPdf(df)

In [305]:
datetime.datetime.now().strftime("%Y-%m-%d")

'2020-08-16'

In [266]:
df

,Start Date and Time,End Date and Time,Total Rack Count,Total Palette Count
0,10,14,18,12

In [267]:
df.to_csv("count_log.csv", index = False)

In [268]:
 dict(df)['Start Date and Time']

0    10
Name: Start Date and Time, dtype: int64

In [269]:
df1 = pd.read_csv("count_log.csv",index_col =  False)

In [270]:
df1

,Start Date and Time,End Date and Time,Total Rack Count,Total Palette Count
0,10,14,18,12

In [271]:
out_dict  = {'Start Date and Time': [x],
             'End Date and Time':[10],
             'Total Rack Count':[10],
            'Total Palette Count':[12]}

In [272]:
df2 = pd.DataFrame(out_dict1)

In [273]:
df2

,Total Rack Count,Start Date and Time,End Date and Time,Total Palette Count
0,10,2020-08-15 10:34:40.403683,10,12

In [274]:
df1.append(df2, ignore_index = True
          )

,Start Date and Time,End Date and Time,Total Rack Count,Total Palette Count
0,10,14,18,12
1,2020-08-15 10:34:40.403683,10,10,12

In [275]:
def updateHistory(report):
    """
    Args:
        report: Dictionary with the pre-specified format of count_log.csv
            (Same header names) 
    """
    df_new = pd.DataFrame(report)
    df1 = pd.read_csv("count_log.csv",index_col =  False)
    df = df1.append(df_new, ignore_index = True
          )
    df.to_csv("count_log.csv", index = False)

In [276]:
out_dict  = {'Start Date and Time': [x],
             'End Date and Time':[120],
             'Total Rack Count':[101],
            'Total Palette Count':[1245]}

In [277]:
updateHistory(out_dict)

In [278]:
df1 = pd.read_csv("count_log.csv",index_col =  False)

In [279]:
df1

,Start Date and Time,End Date and Time,Total Rack Count,Total Palette Count
0,10,14,18,12
1,2020-08-15 16:05:32.478326,120,101,1245

In [240]:
import time

In [241]:
time.time()

1597514453.6146307

In [ ]:
start_time = time.time()
seconds = 4

while True:
    current_time = time.time()
    elapsed_time = current_time - start_time

    if elapsed_time > seconds:
        print("Finished iterating in: " + str(int(elapsed_time))  + " seconds")
        break