In [98]:
import pandas as pd 
import datetime

In [99]:
x = datetime.datetime.now()

In [100]:
x

datetime.datetime(2020, 8, 15, 10, 34, 40, 403683)

In [101]:
x = pd.to_datetime(x)

### Create test csv

In [235]:
out_dict  = {'Start Date and Time': [],
             'End Date and Time':[],
             'Total Rack Count':[],
            'Total Palette Count':[]}

In [236]:
df = pd.DataFrame.from_dict(out_dict)

In [237]:
df

Empty DataFrame
Columns: [Start Date and Time, End Date and Time, Total Rack Count, Total Palette Count]
Index: []

In [238]:
df.to_csv("count_log.csv", index = False)

In [228]:
 dict(df)['Start Date and Time']

Series([], Name: Start Date and Time, dtype: float64)

In [229]:
df1 = pd.read_csv("count_log.csv",index_col =  False)

In [192]:
df1

Empty DataFrame
Columns: [Start Date and Time, End Date and Time, Total Rack Count, Total Palette Count]
Index: []

In [193]:
out_dict  = {'Start Date and Time': [x],
             'End Date and Time':[10],
             'Total Rack Count':[10],
            'Total Palette Count':[12]}

In [194]:
df2 = pd.DataFrame(out_dict1)

In [195]:
df2

,Total Rack Count,Start Date and Time,End Date and Time,Total Palette Count
0,10,2020-08-15 10:34:40.403683,10,12

In [196]:
df1.append(df2, ignore_index = True
          )

,Start Date and Time,End Date and Time,Total Rack Count,Total Palette Count
0,2020-08-15 10:34:40.403683,10,10,12

In [230]:
def updateHistory(report):
    """
    Args:
        report: Dictionary with the pre-specified format of count_log.csv
            (Same header names) 
    """
    df_new = pd.DataFrame(report)
    df1 = pd.read_csv("count_log.csv",index_col =  False)
    df = df1.append(df_new, ignore_index = True
          )
    df.to_csv("count_log.csv", index = False)

In [231]:
out_dict  = {'Start Date and Time': [x],
             'End Date and Time':[120],
             'Total Rack Count':[101],
            'Total Palette Count':[1245]}

In [232]:
updateHistory(out_dict)

In [233]:
df1 = pd.read_csv("count_log.csv",index_col =  False)

In [234]:
df1

,Start Date and Time,End Date and Time,Total Rack Count,Total Palette Count
0,2020-08-15 10:34:40.403683,120,101,1245